<div class="container">
  <div class="row">
    <ul class="nav nav-tabs nav-right">
      <li class="active"><a href="#twitter" data-toggle="tab"><i class="fa fa-twitter"></i> Twitter</a></li>
      <li class=""><a href="#facebook" data-toggle="tab"><i class="fa fa-facebook"></i> Facebook</a></li>
      <li class=""><a href="#linkedin" data-toggle="tab"><i class="fa fa-facebook"></i> LinkedIn</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in" id="twitter">
        <div class="row">
          <div class="col-lg-10">
            <div class="page-header">
              <h2><small>Configure Twitter</small></h2>
            </div>
            Coming Soon
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="facebook">
        <div class="row">
          <div class="col-lg-10">
            <div class="page-header">
              <h2><small>Configure Facebook</small></h2>
            </div>
            Coming Soon
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="linkedin">
        <div class="row">
          <div class="col-lg-10">
            <div class="page-header">
              <h2><small>Configure LinkedIn</small></h2>
            </div>
            Coming Soon
          </div>
        </div>
      </div>
    </div>
  </div>
</div>