<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<div class="page-header">
				<h1>
					<small><i class="fa fa-user"></i> Following</small>
				</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-offset-1 col-lg-10">
		</div>
	</div>
	<% @following.each do |f| %>
		<div class="row">
			<div class="col-lg-offset-1 col-lg-5">
					<%= f.name %>					
			</div>
			<div class="col-lg-5">
				<%= image_tag f.profile_image_url %>
		</div>
	<% end %>
</div>