<style>
	.dash-img {
		font-size: 100px;
	}
	.dash-img .fa-twitter {
		color: #4099ff;
	}
	.dash-img .fa-facebook{
		color: #cccccc;
	}
	.dash-img .fa-linkedin{
		color: #cccccc;
	}
</style>

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<div class="page-header">
				<h1>
					<small><i class="fa fa-bar-chart"></i> Dashboard</small>
				</h1>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h1 class="dash-img"><a href="/twitter/tweets"><i class="fa fa-twitter"></i></a></h1>
				Service Status: Active <br>
				@lazybee2015
			</div>
			<div class="col-md-4">
				<h1 class="dash-img"><a href="#"><i class="fa fa-facebook"></i></a></h1>
				Service Status: Inactive <br>
				<a href="">Click to configure service</a>
			</div>
			<div class="col-md-4">
				<h1 class="dash-img"><a href="#"><i class="fa fa-linkedin"></i></a></h1>
				Service Status: Inactive <br>
				<a href="">Click to configure service</a>
			</div>
		</div>
	</div>
</div>