<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<div class="page-header">
				<h1>
					<small><i class="fa fa-bar-chart"></i> Dashboard</small>
					<div class="pull-right">
						<%#= link_to "<i class='fa fa-file-excel-o'></i> Report".html_safe, report_leads_path(:format => :xlsx), class: "btn btn-danger btn-sm" %>
						<div class="btn-group">
                  			<button type="button" class="btn btn-danger"><i class='fa fa-file-excel-o'></i> Report</button>
                  			<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
			                  <ul class="dropdown-menu">
			                    <li><a href="#">Action</a></li>
			                    <li><a href="#">Another action</a></li>
			                    <li><a href="#">Something else here</a></li>
			                    <li class="divider"></li>
			                    <li><a href="#">Separated link</a></li>
			                  </ul>
			            </div>
			            <%#= link_to "<i class='fa fa-bar-chart-o'></i> Dashboard".html_safe, dashboard_leads_path, class: "btn btn-success btn-sm" %>
			            <%#= link_to "<i class='fa fa-plus'></i> New Lead".html_safe, new_lead_path, class: "btn btn-warning btn-sm" %>
					</div>
				</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-offset-1 col-lg-10">
		</div>
	</div>	
</div>