<div class="container">
	<div class="row">
			<div class="col-md-12">
			<%if flash[:notice]%>
  				<div class="alert alert-success"><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash[:notice] %></div>
			<%end%>
			<%if flash[:alert]%>
			  <div class="alert alert-info"><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash[:alert] %></div>
			<%end%>
			<%if flash[:error]%>
			    <div class="alert alert-danger"><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash[:error]  %></div>
			<%end%>
		</div>
	</div>
</div>